<div id="bodyOptions">
    <div>
        <button class="block" id="supplyList" routerLink="/addAnnouncements">Add announcements</button>
    </div>
    <div>
        <button class="block" id="purchaseOnline" routerLink="/">Add Supply Items</button>
    </div>
    <div>
            <button class="block" id="purchaseOnline" routerLink="/">Add Class</button>
    </div>
</div>
<br>
<div id="bodyOptions">
    <div>
        <button class="block" id="makePayment" routerLink="/teacherAnnouncements">Show Announcements</button>
    </div>
    <div>
        <button class="block" id="searchStore" routerLink="/">Show Supply List</button>
    </div>
    <div>
        <button class="block" id="purchaseOnline" routerLink="/">Show All Classes</button>
    </div>
</div>