<div id="navbar">
    <span class="navlink" id="dropdown"><strong>Home</strong></span>
        <div class="dropdown-content">
            <a href="/">Student/Parent Home Page</a>
            <a routerLink="/teacherHomePage">Teacher Home Page</a>
        </div>
    <span class="navlink"><strong>About</strong></span>
    <span class="navlink"><strong>Faculty List</strong></span>
    <span class="navlink"><strong>Contact US</strong></span>
    <span class="navlink" routerLink="/faq"><strong>FAQ</strong></span>
</div>

    

