<div id="bodyOptions">
    <div>
        <button class="block" id="supplyList" routerLink="/listAnnouncements">Supply List</button>
    </div>
    <div>
        <button class="block" id="purchaseOnline" routerLink="/listAnnouncements">Purchae Online</button>
    </div>
</div>
<br>
<div id="bodyOptions">
    <div>
        <button class="block" id="makePayment" routerLink="/listAnnouncements">Make Payment</button>
    </div>
    <div>
        <button class="block" id="searchStore" routerLink="/googlemaps">Search for Stores</button>
    </div>
</div>